<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="logo" src="../../../assets/img/logoname.png">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding margin>
  <ion-row>
    <ion-col size="6" offset="3">
      <img src="../../../assets/img/bluelogo.png">
    </ion-col>
  </ion-row>

  <div class="txt">
    <ion-row>
      <ion-col class="ion-margin-top" text-center>Email us at:
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <a>shopandwin@softexpaper.com</a>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col text-center> Phone No:
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <a>59996639918</a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>