<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col text-center>
      <img src="../../../assets/img/logo.svg">
    </ion-col>
  </ion-row>

  <ion-row class="mt-30">
    <ion-col text-center size="8" offset="2">
      <ion-label class="heading">For signing up, please fill in the boxes below</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="8" offset="2" class="ion-margin-vertical">
      <ion-label>Personal Info</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8" offset="2">
      <ion-input [(ngModel)]="name" name="name" placeholder="Name" type="text" padding></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="8" offset="2">
      <ion-datetime value="1990-02-19" [(ngModel)]="dob" name="dob" placeholder="Select Date"></ion-datetime>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="8" offset="2" class="ion-margin-vertical">
      <ion-label>Contact Info</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="8" offset="2">
      <ion-input [(ngModel)]="email" [ngStyle]="{'color': color}" name="email" placeholder="E-mail address" type="email" padding></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="2">
      <ion-input placeholder="+.." type="number" maxlength="2" [(ngModel)]="phoneExtension" name="phoneExtension" padding></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-input placeholder="Phone Number" [(ngModel)]="phone" name="phone" type="number" padding size="5"></ion-input>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="8" offset="2">
      <ion-select placeholder="Country" (ionChange)="countryName($event.target.value)">
        <ion-select-option value="Afganistan">Afghanistan</ion-select-option>
        <ion-select-option value="Albania">Albania</ion-select-option>
        <ion-select-option value="Algeria">Algeria</ion-select-option>
        <ion-select-option value="American Samoa">American Samoa</ion-select-option>
        <ion-select-option value="Andorra">Andorra</ion-select-option>
        <ion-select-option value="Angola">Angola</ion-select-option>
        <ion-select-option value="Anguilla">Anguilla</ion-select-option>
        <ion-select-option value="Antigua & Barbuda">Antigua & Barbuda</ion-select-option>
        <ion-select-option value="Argentina">Argentina</ion-select-option>
        <ion-select-option value="Armenia">Armenia</ion-select-option>
        <ion-select-option value="Aruba">Aruba</ion-select-option>
        <ion-select-option value="Australia">Australia</ion-select-option>
        <ion-select-option value="Austria">Austria</ion-select-option>
        <ion-select-option value="Azerbaijan">Azerbaijan</ion-select-option>
        <ion-select-option value="Bahamas">Bahamas</ion-select-option>
        <ion-select-option value="Bahrain">Bahrain</ion-select-option>
        <ion-select-option value="Bangladesh">Bangladesh</ion-select-option>
        <ion-select-option value="Barbados">Barbados</ion-select-option>
        <ion-select-option value="Belarus">Belarus</ion-select-option>
        <ion-select-option value="Belgium">Belgium</ion-select-option>
        <ion-select-option value="Belize">Belize</ion-select-option>
        <ion-select-option value="Benin">Benin</ion-select-option>
        <ion-select-option value="Bermuda">Bermuda</ion-select-option>
        <ion-select-option value="Bhutan">Bhutan</ion-select-option>
        <ion-select-option value="Bolivia">Bolivia</ion-select-option>
        <ion-select-option value="Bonaire">Bonaire</ion-select-option>
        <ion-select-option value="Bosnia & Herzegovina">Bosnia & Herzegovina</ion-select-option>
        <ion-select-option value="Botswana">Botswana</ion-select-option>
        <ion-select-option value="Brazil">Brazil</ion-select-option>
        <ion-select-option value="British Indian Ocean Ter">British Indian Ocean Ter</ion-select-option>
        <ion-select-option value="Brunei">Brunei</ion-select-option>
        <ion-select-option value="Bulgaria">Bulgaria</ion-select-option>
        <ion-select-option value="Burkina Faso">Burkina Faso</ion-select-option>
        <ion-select-option value="Burundi">Burundi</ion-select-option>
        <ion-select-option value="Cambodia">Cambodia</ion-select-option>
        <ion-select-option value="Cameroon">Cameroon</ion-select-option>
        <ion-select-option value="Canada">Canada</ion-select-option>
        <ion-select-option value="Canary Islands">Canary Islands</ion-select-option>
        <ion-select-option value="Cape Verde">Cape Verde</ion-select-option>
        <ion-select-option value="Cayman Islands">Cayman Islands</ion-select-option>
        <ion-select-option value="Central African Republic">Central African Republic</ion-select-option>
        <ion-select-option value="Chad">Chad</ion-select-option>
        <ion-select-option value="Channel Islands">Channel Islands</ion-select-option>
        <ion-select-option value="Chile">Chile</ion-select-option>
        <ion-select-option value="China">China</ion-select-option>
        <ion-select-option value="Christmas Island">Christmas Island</ion-select-option>
        <ion-select-option value="Cocos Island">Cocos Island</ion-select-option>
        <ion-select-option value="Colombia">Colombia</ion-select-option>
        <ion-select-option value="Comoros">Comoros</ion-select-option>
        <ion-select-option value="Congo">Congo</ion-select-option>
        <ion-select-option value="Cook Islands">Cook Islands</ion-select-option>
        <ion-select-option value="Costa Rica">Costa Rica</ion-select-option>
        <ion-select-option value="Cote DIvoire">Cote DIvoire</ion-select-option>
        <ion-select-option value="Croatia">Croatia</ion-select-option>
        <ion-select-option value="Cuba">Cuba</ion-select-option>
        <ion-select-option value="Curaco">Curacao</ion-select-option>
        <ion-select-option value="Cyprus">Cyprus</ion-select-option>
        <ion-select-option value="Czech Republic">Czech Republic</ion-select-option>
        <ion-select-option value="Denmark">Denmark</ion-select-option>
        <ion-select-option value="Djibouti">Djibouti</ion-select-option>
        <ion-select-option value="Dominica">Dominica</ion-select-option>
        <ion-select-option value="Dominican Republic">Dominican Republic</ion-select-option>
        <ion-select-option value="East Timor">East Timor</ion-select-option>
        <ion-select-option value="Ecuador">Ecuador</ion-select-option>
        <ion-select-option value="Egypt">Egypt</ion-select-option>
        <ion-select-option value="El Salvador">El Salvador</ion-select-option>
        <ion-select-option value="Equatorial Guinea">Equatorial Guinea</ion-select-option>
        <ion-select-option value="Eritrea">Eritrea</ion-select-option>
        <ion-select-option value="Estonia">Estonia</ion-select-option>
        <ion-select-option value="Ethiopia">Ethiopia</ion-select-option>
        <ion-select-option value="Falkland Islands">Falkland Islands</ion-select-option>
        <ion-select-option value="Faroe Islands">Faroe Islands</ion-select-option>
        <ion-select-option value="Fiji">Fiji</ion-select-option>
        <ion-select-option value="Finland">Finland</ion-select-option>
        <ion-select-option value="France">France</ion-select-option>
        <ion-select-option value="French Guiana">French Guiana</ion-select-option>
        <ion-select-option value="French Polynesia">French Polynesia</ion-select-option>
        <ion-select-option value="French Southern Ter">French Southern Ter</ion-select-option>
        <ion-select-option value="Gabon">Gabon</ion-select-option>
        <ion-select-option value="Gambia">Gambia</ion-select-option>
        <ion-select-option value="Georgia">Georgia</ion-select-option>
        <ion-select-option value="Germany">Germany</ion-select-option>
        <ion-select-option value="Ghana">Ghana</ion-select-option>
        <ion-select-option value="Gibraltar">Gibraltar</ion-select-option>
        <ion-select-option value="Great Britain">Great Britain</ion-select-option>
        <ion-select-option value="Greece">Greece</ion-select-option>
        <ion-select-option value="Greenland">Greenland</ion-select-option>
        <ion-select-option value="Grenada">Grenada</ion-select-option>
        <ion-select-option value="Guadeloupe">Guadeloupe</ion-select-option>
        <ion-select-option value="Guam">Guam</ion-select-option>
        <ion-select-option value="Guatemala">Guatemala</ion-select-option>
        <ion-select-option value="Guinea">Guinea</ion-select-option>
        <ion-select-option value="Guyana">Guyana</ion-select-option>
        <ion-select-option value="Haiti">Haiti</ion-select-option>
        <ion-select-option value="Hawaii">Hawaii</ion-select-option>
        <ion-select-option value="Honduras">Honduras</ion-select-option>
        <ion-select-option value="Hong Kong">Hong Kong</ion-select-option>
        <ion-select-option value="Hungary">Hungary</ion-select-option>
        <ion-select-option value="Iceland">Iceland</ion-select-option>
        <ion-select-option value="Indonesia">Indonesia</ion-select-option>
        <ion-select-option value="India">India</ion-select-option>
        <ion-select-option value="Iran">Iran</ion-select-option>
        <ion-select-option value="Iraq">Iraq</ion-select-option>
        <ion-select-option value="Ireland">Ireland</ion-select-option>
        <ion-select-option value="Isle of Man">Isle of Man</ion-select-option>
        <ion-select-option value="Israel">Israel</ion-select-option>
        <ion-select-option value="Italy">Italy</ion-select-option>
        <ion-select-option value="Jamaica">Jamaica</ion-select-option>
        <ion-select-option value="Japan">Japan</ion-select-option>
        <ion-select-option value="Jordan">Jordan</ion-select-option>
        <ion-select-option value="Kazakhstan">Kazakhstan</ion-select-option>
        <ion-select-option value="Kenya">Kenya</ion-select-option>
        <ion-select-option value="Kiribati">Kiribati</ion-select-option>
        <ion-select-option value="Korea North">Korea North</ion-select-option>
        <ion-select-option value="Korea Sout">Korea South</ion-select-option>
        <ion-select-option value="Kuwait">Kuwait</ion-select-option>
        <ion-select-option value="Kyrgyzstan">Kyrgyzstan</ion-select-option>
        <ion-select-option value="Laos">Laos</ion-select-option>
        <ion-select-option value="Latvia">Latvia</ion-select-option>
        <ion-select-option value="Lebanon">Lebanon</ion-select-option>
        <ion-select-option value="Lesotho">Lesotho</ion-select-option>
        <ion-select-option value="Liberia">Liberia</ion-select-option>
        <ion-select-option value="Libya">Libya</ion-select-option>
        <ion-select-option value="Liechtenstein">Liechtenstein</ion-select-option>
        <ion-select-option value="Lithuania">Lithuania</ion-select-option>
        <ion-select-option value="Luxembourg">Luxembourg</ion-select-option>
        <ion-select-option value="Macau">Macau</ion-select-option>
        <ion-select-option value="Macedonia">Macedonia</ion-select-option>
        <ion-select-option value="Madagascar">Madagascar</ion-select-option>
        <ion-select-option value="Malaysia">Malaysia</ion-select-option>
        <ion-select-option value="Malawi">Malawi</ion-select-option>
        <ion-select-option value="Maldives">Maldives</ion-select-option>
        <ion-select-option value="Mali">Mali</ion-select-option>
        <ion-select-option value="Malta">Malta</ion-select-option>
        <ion-select-option value="Marshall Islands">Marshall Islands</ion-select-option>
        <ion-select-option value="Martinique">Martinique</ion-select-option>
        <ion-select-option value="Mauritania">Mauritania</ion-select-option>
        <ion-select-option value="Mauritius">Mauritius</ion-select-option>
        <ion-select-option value="Mayotte">Mayotte</ion-select-option>
        <ion-select-option value="Mexico">Mexico</ion-select-option>
        <ion-select-option value="Midway Islands">Midway Islands</ion-select-option>
        <ion-select-option value="Moldova">Moldova</ion-select-option>
        <ion-select-option value="Monaco">Monaco</ion-select-option>
        <ion-select-option value="Mongolia">Mongolia</ion-select-option>
        <ion-select-option value="Montserrat">Montserrat</ion-select-option>
        <ion-select-option value="Morocco">Morocco</ion-select-option>
        <ion-select-option value="Mozambique">Mozambique</ion-select-option>
        <ion-select-option value="Myanmar">Myanmar</ion-select-option>
        <ion-select-option value="Nambia">Nambia</ion-select-option>
        <ion-select-option value="Nauru">Nauru</ion-select-option>
        <ion-select-option value="Nepal">Nepal</ion-select-option>
        <ion-select-option value="Netherland Antilles">Netherland Antilles</ion-select-option>
        <ion-select-option value="Netherlands">Netherlands (Holland, Europe)</ion-select-option>
        <ion-select-option value="Nevis">Nevis</ion-select-option>
        <ion-select-option value="New Caledonia">New Caledonia</ion-select-option>
        <ion-select-option value="New Zealand">New Zealand</ion-select-option>
        <ion-select-option value="Nicaragua">Nicaragua</ion-select-option>
        <ion-select-option value="Niger">Niger</ion-select-option>
        <ion-select-option value="Nigeria">Nigeria</ion-select-option>
        <ion-select-option value="Niue">Niue</ion-select-option>
        <ion-select-option value="Norfolk Island">Norfolk Island</ion-select-option>
        <ion-select-option value="Norway">Norway</ion-select-option>
        <ion-select-option value="Oman">Oman</ion-select-option>
        <ion-select-option value="Pakistan">Pakistan</ion-select-option>
        <ion-select-option value="Palau Island">Palau Island</ion-select-option>
        <ion-select-option value="Palestine">Palestine</ion-select-option>
        <ion-select-option value="Panama">Panama</ion-select-option>
        <ion-select-option value="Papua New Guinea">Papua New Guinea</ion-select-option>
        <ion-select-option value="Paraguay">Paraguay</ion-select-option>
        <ion-select-option value="Peru">Peru</ion-select-option>
        <ion-select-option value="Phillipines">Philippines</ion-select-option>
        <ion-select-option value="Pitcairn Island">Pitcairn Island</ion-select-option>
        <ion-select-option value="Poland">Poland</ion-select-option>
        <ion-select-option value="Portugal">Portugal</ion-select-option>
        <ion-select-option value="Puerto Rico">Puerto Rico</ion-select-option>
        <ion-select-option value="Qatar">Qatar</ion-select-option>
        <ion-select-option value="Republic of Montenegro">Republic of Montenegro</ion-select-option>
        <ion-select-option value="Republic of Serbia">Republic of Serbia</ion-select-option>
        <ion-select-option value="Reunion">Reunion</ion-select-option>
        <ion-select-option value="Romania">Romania</ion-select-option>
        <ion-select-option value="Russia">Russia</ion-select-option>
        <ion-select-option value="Rwanda">Rwanda</ion-select-option>
        <ion-select-option value="St Barthelemy">St Barthelemy</ion-select-option>
        <ion-select-option value="St Eustatius">St Eustatius</ion-select-option>
        <ion-select-option value="St Helena">St Helena</ion-select-option>
        <ion-select-option value="St Kitts-Nevis">St Kitts-Nevis</ion-select-option>
        <ion-select-option value="St Lucia">St Lucia</ion-select-option>
        <ion-select-option value="St Maarten">St Maarten</ion-select-option>
        <ion-select-option value="St Pierre & Miquelon">St Pierre & Miquelon</ion-select-option>
        <ion-select-option value="St Vincent & Grenadines">St Vincent & Grenadines</ion-select-option>
        <ion-select-option value="Saipan">Saipan</ion-select-option>
        <ion-select-option value="Samoa">Samoa</ion-select-option>
        <ion-select-option value="Samoa American">Samoa American</ion-select-option>
        <ion-select-option value="San Marino">San Marino</ion-select-option>
        <ion-select-option value="Sao Tome & Principe">Sao Tome & Principe</ion-select-option>
        <ion-select-option value="Saudi Arabia">Saudi Arabia</ion-select-option>
        <ion-select-option value="Senegal">Senegal</ion-select-option>
        <ion-select-option value="Seychelles">Seychelles</ion-select-option>
        <ion-select-option value="Sierra Leone">Sierra Leone</ion-select-option>
        <ion-select-option value="Singapore">Singapore</ion-select-option>
        <ion-select-option value="Slovakia">Slovakia</ion-select-option>
        <ion-select-option value="Slovenia">Slovenia</ion-select-option>
        <ion-select-option value="Solomon Islands">Solomon Islands</ion-select-option>
        <ion-select-option value="Somalia">Somalia</ion-select-option>
        <ion-select-option value="South Africa">South Africa</ion-select-option>
        <ion-select-option value="Spain">Spain</ion-select-option>
        <ion-select-option value="Sri Lanka">Sri Lanka</ion-select-option>
        <ion-select-option value="Sudan">Sudan</ion-select-option>
        <ion-select-option value="Suriname">Suriname</ion-select-option>
        <ion-select-option value="Swaziland">Swaziland</ion-select-option>
        <ion-select-option value="Sweden">Sweden</ion-select-option>
        <ion-select-option value="Switzerland">Switzerland</ion-select-option>
        <ion-select-option value="Syria">Syria</ion-select-option>
        <ion-select-option value="Tahiti">Tahiti</ion-select-option>
        <ion-select-option value="Taiwan">Taiwan</ion-select-option>
        <ion-select-option value="Tajikistan">Tajikistan</ion-select-option>
        <ion-select-option value="Tanzania">Tanzania</ion-select-option>
        <ion-select-option value="Thailand">Thailand</ion-select-option>
        <ion-select-option value="Togo">Togo</ion-select-option>
        <ion-select-option value="Tokelau">Tokelau</ion-select-option>
        <ion-select-option value="Tonga">Tonga</ion-select-option>
        <ion-select-option value="Trinidad & Tobago">Trinidad & Tobago</ion-select-option>
        <ion-select-option value="Tunisia">Tunisia</ion-select-option>
        <ion-select-option value="Turkey">Turkey</ion-select-option>
        <ion-select-option value="Turkmenistan">Turkmenistan</ion-select-option>
        <ion-select-option value="Turks & Caicos Is">Turks & Caicos Is</ion-select-option>
        <ion-select-option value="Tuvalu">Tuvalu</ion-select-option>
        <ion-select-option value="Uganda">Uganda</ion-select-option>
        <ion-select-option value="United Kingdom">United Kingdom</ion-select-option>
        <ion-select-option value="Ukraine">Ukraine</ion-select-option>
        <ion-select-option value="United Arab Erimates">United Arab Emirates</ion-select-option>
        <ion-select-option value="United States of America">United States of America</ion-select-option>
        <ion-select-option value="Uraguay">Uruguay</ion-select-option>
        <ion-select-option value="Uzbekistan">Uzbekistan</ion-select-option>
        <ion-select-option value="Vanuatu">Vanuatu</ion-select-option>
        <ion-select-option value="Vatican City State">Vatican City State</ion-select-option>
        <ion-select-option value="Venezuela">Venezuela</ion-select-option>
        <ion-select-option value="Vietnam">Vietnam</ion-select-option>
        <ion-select-option value="Virgin Islands (Brit)">Virgin Islands (Brit)</ion-select-option>
        <ion-select-option value="Virgin Islands (USA)">Virgin Islands (USA)</ion-select-option>
        <ion-select-option value="Wake Island">Wake Island</ion-select-option>
        <ion-select-option value="Wallis & Futana Is">Wallis & Futana Is</ion-select-option>
        <ion-select-option value="Yemen">Yemen</ion-select-option>
        <ion-select-option value="Zaire">Zaire</ion-select-option>
        <ion-select-option value="Zambia">Zambia</ion-select-option>
        <ion-select-option value="Zimbabwe">Zimbabwe</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="8" offset="2" class="ion-margin-vertical">
      <ion-checkbox mode="md" color="secondary" [(ngModel)]="terms" name="terms"></ion-checkbox>
      I accept the terms of agreement while using this app...
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="8" offset="2" class="ion-margin-vertical">
      <ion-checkbox [(ngModel)]="emailNotification" name="emailNotification" mode="md" color="secondary"></ion-checkbox>
      I want to receive notification in terms of e-mail when I win a prize.
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="8" offset="2" class="ion-margin-vertical">
      <ion-button color="secondary"  expand="block" text-center (click)="continue()">Continue</ion-button>
    </ion-col>
  </ion-row>
</ion-content>