ion-content {
    --ion-background-color: #a9bee3;
    --background: #a9bee3;
    background-color: #a9bee3;
}

.whitewave {
    max-width: 104%;
    border: 0;
    margin: 0 -8px;
    padding-top: 10%;
}

.logo {
    // width: 400px;
    max-width: 70%;
}

ion-label {
    padding: 10px;
    background: #e1ebf8;
    font-weight: bold;
}

.mt-30 {
    margin-top: 30%;
}

ion-button {
    font-size: 2vh;
}