.logo {
    width: 66%;
    padding-top: 7%;
}

.heading {
    font-size: 3vh;
    color: var(--ion-color-primary) !important;
}

.subheading {
    font-size: 2.5vh;
    color: var(--ion-color-secondary) !important;
    text-transform: uppercase;
}