<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="logo" src="../../../assets/img/logoname.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content margin padding>
  <ion-row>
    <ion-col class="heading ion-text-center" color="primary">DISCLAIMER</ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="subheading"> Terms & conditions</ion-col>
  </ion-row>
  <p>These General Terms and Conditions apply to the Softex Savings Program (hereinafter: SSP)
    of the corporation Unipac N.V. (hereinafter: Unipac), and all participants in the SSP are
    subject to these General Terms and Conditions. Unipac has its principal place of business in
    Curaçao at Industriepark z/n and is listed with the Chamber of Commerce in Curaçao under
    number 70872 . Participants in the SSP can save points for acquiring certain products. You
    do this by redeeming coupon codes in our saving program application. By participating and
    using this application, you declare to have taken note of these General Terms and
    Conditions, and you agree to the application thereof to the SSP agreement between you
    and Unipac. Unipac advises you to carefully read these General Terms and Conditions
    before starting to save. R Significant changes to these General Terms and Conditions will be
    published on www. softexpaper.com or be communicated to you otherwise.</p>

  <ion-row>
    <ion-col class="subheading">Enrollment</ion-col>
  </ion-row>
  <p>Any individual can participate in the SSP. The minimum age for an individual to participate is
    15 years. You become a member by downloading our Mobile App, from the Google play
    store or Apple store. Unipac reserves to right to refuse your participation without stating the
    reasons. As soon as you are registered with Softex Savings Program, Unipac will open
    an account in your name, to which the accumulated points will be displayed. You can only
    participante in weekly baffles your after registration. Accumulated points are personal and
    cannot be transferred. All rights attaching to the Softex Savings Program are held by
    Unipac. The participant guarantees his legal capacity as regards the points and all other
    values, which are registered with Unipac in the name of the participant. The participant is
    liable towards Unipacs for all damage Unipac might suffer as a result of the participant not
    or not fully having legal capacity. The participant indemnifies Unipac against all
    consequences and all claims from third parties concerning the participant not or not fully
    having legal capacity.</p>

  <ion-row>
    <ion-col class="subheading">LIABILITY </ion-col>
  </ion-row>
  <p>Unipac , the affiliated partners, and offerors do not acknowledge any liability for any
    (consequential damage caused by) unauthorized use of your Softex Account. If you suspect
    or could have suspected in reason that an erroneous credit or debit entry of points has
    taken place, you are obligated to report this to Unipac.</p>

  <ion-row>
    <ion-col class="subheading">TERMINATION PARTICIPATION</ion-col>
  </ion-row>
  <p>You are authorized at all times to terminate your participation in the SSP. You can do so by
    notifying our Customer Service Department thereof by telephone or e-mail via
    info@softexpaper.com. Unipac is authorized, subject to all our other rights, to termination of
    your registration taking effect immediately, in case of deceit, the provision of incomplete or
    incorrect information, if you act contrary to these Terms and Conditions, if you abuse the
    rights you have as participant in the SSP, or if you act in any other way that causes damage
    to Unipac, its employees, the affiliated partners, or other SSP participants, including insults.</p>

  <ion-row>
    <ion-col class="subheading">PERSONAL DATA</ion-col>
  </ion-row>
  <p>The personal data you provide to use are included in our file. We also collect data
    concerning your purchases. By participating in the SSP, you declare to agree to the
    processing and use of your personal data, including general or targeted commercial
    messages being sent, related to your demographic status and personal information. Your
    data will be dealt with confidentially and in accordance with the law. If you do not want to
    receive targeted Softex offers, you can communicate this to our Customer Service at
    info@softexpaper.com or by telephone.</p>

  <ion-row>
    <ion-col class="subheading">COMPLAINTS</ion-col>
  </ion-row>
  <p>Despite all due care we give to our service and the SSP, it may occur that you are not
    satisfied. You can inform our Customer Service of your complaint by telephone or via
    info@softexpaper.com</p>
</ion-content>