<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="logo" src="../../../assets/img/logoname.png">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content margin padding>
  <ion-row>
    <ion-col size="6" offset="3">
      <img src="../../../assets/img/bluelogo.png">
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-top ion-text-justify aboutus">
    Founded in Curaçao in 1977,
    Softex Products is the island's #1
    paper converting company.
    Softex Products manufactures toilet paper, napkins, and
    paper towels for both domestic and institutional use.
    Our leading brands include Softex, Noky and Swave.

  </ion-row>
</ion-content>